# Generated sources
inc-gen/
src-gen/

# Production files
deps
generated-files.mk
compile.log

# Binaries
disappgen.jar

BUILD/
BUILD-mingw32/
build/
bin/
Debug/
Release/

util-c/lib/
util-cpp/lib/
util.jar

dabtypes-c/lib/
dabtypes-cpp/lib/
dabtypes.jar

distributeur
distributeur-mingw32
Distributeur
Distributeur-mingw32
DAB-UI.jar

site_central
site_central-mingw32
SiteCentral
SiteCentral-mingw32
Site-Central.jar

unite_de_traitement
unite_de_traitement-mingw32
UniteDeTraitement
UniteDeTraitement-mingw32
UDT.jar
