BUILD/
BUILD-heap/
BUILD-mingw32/
BUILD-mingw32-heap/
build/
bin/
Debug/
Debug-heap/
Release/
Release-heap/
inc-gen/
src-gen/
*.a
disappgen.jar
DAB-UI.jar
UDT.jar
Site-Central.jar
util.jar
deps
UniteDeTraitement
UniteDeTraitement-mingw32
unite_de_traitement
unite_de_traitement-mingw32
generated-files.mk
util-c/lib/
util-cpp/lib/
dabtypes-c/lib/
dabtypes-cpp/lib/
compile.log
